* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-size: 1.1rem;
    color: #fff;
}
body {background-color: #18122b;}
h1 {font-size: 1.5rem; font-weight: bolder; font-family: "Poppins", sans-serif;}
p {padding-top: 5px; font-family: 'Montserrat', sans-serif;}
.container {
    width: 100%;
    min-height: 150vh;
    background-color:  #18122b;
}
.wrapper {
    width: 90%;
    height: 100%;
    padding-top: 10px;
    margin: auto;
}
.greeting, .search-tab input::placeholder, .intro, #title {color: #fff;}
.search-tab {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-tab input {
    padding: 10px;
    width: 70%;
    background-color: #443c68;
    border: none;
    outline: none;
    color: #fff;
}
.search-tab .btn {
    padding: 6px;
    border-radius: 5px;
    color: #fff;
    background-color: #443c68;
    border: none;
    cursor: pointer;
}
.search-tab .btn:hover {
    background-color: #393053;
}
#error {
    display: block;
    color: red;
    font-style: italic;
}
#main {
    margin-top: 50px;
}
.image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    height:auto;
}
#img-fluid {
    width: 70%;
    height: inherit;
}
#title {
    padding-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
#type {text-transform: capitalize;}
.summary {
    text-align: left;
    width: 100%;
    margin-top: 10px;
}
footer {
    width: 80%;
    height: fit-content;
    margin: 10px auto 0 auto;
    background-color: #18122b;
    text-align: right; 
    color: #fff; 
    font-size: 1.1rem;
    border-top: 2px solid #fff;
}
@media screen and (min-width: 768px) {
    .container {
        height: 70vh;
    }
    .search-tab .btn {
        width: 12%;
    }
    .image {
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    #img-fluid {
        width: 40%;
    }
    #title {
        padding-top: 0;
    }
    .summary {
        text-align: left;
        width: 50%;
    }
    p {padding-top: 10px; font-size: 1.3rem;}
}
@media screen and (min-width: 768px) and (max-width: 920px) {
    .container {
        height: 70vh;
    }
    #main {
        margin-top: 10%;
    }
}